*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Fix mobile Safari increase font-size on landscape mode */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu, summary {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-inline-size: 100%;
    max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
    -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
    all: revert;
    box-sizing: border-box;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
    all: revert;
    box-sizing: border-box;
}



body{
    background: black;
    aspect-ratio: 16/9;
}
#fondo1{
    --parallax-speed1: 3;
    height: 720px;
    width: 100%;
}
.contenedorflex{
    position: relative;
    width: 100%;
}
.contenedorflex > img{
    width: 100%;
}
#fondo2{
    top: -70px;
}
#fondo3{
    top: -228px;
    background-color: white;
    height: 1085px;
    z-index: -1;
}
#fondo4{
    top: -369px;
}
#fondo5{
    top: 366px;
}
#fondo6{
    top: 606px;
    z-index: 10;
}
#fondo7{
    z-index: 5;
    top: 653px;
    display: grid;
    grid-template-areas: "stack";
}
#fondo8{
    top: 527px;
    z-index: 10;
} 
#edificios{
    position: relative;
    top: -722px;
}

.deptoizq{
    position: absolute;
    width: 552px;
    height: 810px;
    top: 141px;
    left: -55px;
    
   
    
}

.deptofondo{
    position: absolute;
    width: 677.5px;
    height: 233.5px;
    top: 597px;
    left: 460px;
    

}
.deptoder{
    position: absolute;
    width: 424px;
    height: 807.5px;
    top: 132px;
    left: 1095px;
    
}

.heroe1{
    position: absolute;
    top: 380px;
    left: 90px;
    width: 360px;
    height: 444px;
}
.heroe2{
    position: absolute;
    top: 407px;
    left: 355px;
    width: 465px;
    height: 465px;
}
.heroe3{
    position: absolute;
    top: 323px;
    left: 700px;
    width: 393px;
    height: 393px;
}
.placeholder{
    background: #4d96f5;
    height: 103px;
}
nav{
    backdrop-filter: blur(0.5px);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 103px;
    /* filter: blur(1px); */
    background: linear-gradient(180deg, #5499f8e6 0%, #5499F8 87.91%, rgba(84, 153, 248, 0.00) 100%);

}

#footermarcas{
    background-color: #242424;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

#footermarcas img{
    align-items: center;
}

footer{
    background-color: #5E5E5D;
    height: 700px;
    top: -266px;
}

.contenedorcentral{
    height: 5473px;
    width: 1080px;
    position: absolute;
    top: auto;
    left: 100px;
    z-index: 20;
    aspect-ratio: 16/9;
}

#sectionDuende{
    padding-top: 140px;
    height: 938px;
    width: 1080px;
}
/* #sectionDuende > *{
    animation: duende linear;
    animation-timeline: scroll(self);
} */

.Tblanco{
    color: #FFF;
    font-family: Lato;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 94.5%;
}
.Tnegro{
    color: #000000;
    font-family: Lato;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 94.5%;
}

#Pduende{
    color: #FFF;
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
#duende{
    top: 60px;
    left: 607px;
    position: absolute;
    width: 553px;
    height: 921px;
    transition: all 0.888s ease-in-out;
}
#duende > img {
    width: 100%;
}
#juegoduende{
    position: absolute;
    width: 751.649px;
    height: 413.131px;
    transform: rotate(-2.222deg);
    flex-shrink: 0;
    border-radius: 26px;
    border: 9px solid #FFF;
    background-color: white;
    /* Drop Shadow */
    box-shadow: 3px 6px 8px 4px rgba(0, 0, 0, 0.15);
    top: 463px;
    left: -8px;
}
#juegoduende > img{
    width: 100%;
}
#info{
    width: 646px;
    height: 282px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
}
#tarjetas{
    height: 540px;
    width: inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.columna{
    height: inherit;
    width: 332.96px;
    transform: translate(-200px, 0px);
    opacity: 0;
}
#card1{
    transition: all 0.699s ease-in-out;
}
#card2{
    transition: all 0.999s ease-in-out;
}
#card3{
    transition: all 1.299s ease-in-out;
}


.columna > p{
    color: #000;
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-top: 10px;
}
#cardsjuego{
    width: 664.89px;
    height: 850.24px;

}
#cardsjuego > img {
    width: 100%;
}
#parallax1{
    position: relative;
    display: grid;
    grid-template-areas: "stack";
    aspect-ratio: 16/9;
}
#parallax1 > * {
    grid-area: stack;
    position: absolute;
    animation: parallax1 linear;
    animation-timeline: scroll();
  }
#spider1{
    --parallax-speed1: 10;
    width: 25.9%;
    z-index: 2;
    top: 159px;
    left: 103px;
}

#spider2{
    --parallax-speed1: 10;
    z-index: 10;
    top: 194px;
    left: 406px;
    width: 33%;
}
#spider3{
    --parallax-speed1: 10;
    width: 26%;
    z-index: 2;
    top: 161px;
    left: 716px;
}
#web1{
    --parallax-speed1: 10;
    z-index: 20;
    position: absolute;
    left: -202px;
    top: 146px;
}
#web2{
    --parallax-speed1: 10;
    z-index: 20;
    position: absolute;
    top: 154px;
    right: -117px;
    transform: rotate(353deg);
}
#logo{
    --parallax-speed1: -15;
    left: 357px;
    width: 39%;
    top: -19px;
}

#ed1{
    --parallax-speed1:  -2;
    width: 32%;
    left: -52px;
    bottom: -5px;
}
#ed2{
    --parallax-speed1:  -2;
    width: 48%;
    bottom: 0px;
    left: 319px;
}
#ed3{
    --parallax-speed1:  -2;
    width: 30%;
    right: 0px;
    bottom: 0px;
}
@keyframes parallax1{
 to {
          transform: 
            translateY(calc(var(--parallax-speed1) * 200px));
        }
}
@keyframes duende{
    to {
             transform: 
               translateY(calc(var(--parallax-speed1) * 200px));
           }
   }
#vengadores > h2{
    width: 436px;
}
#parallax2{
    padding-top: 60px;
    position: relative;
    z-index: 0;
    display: grid;
    grid-template-areas: "stack";
    aspect-ratio: 16/9;
}
#parallax2 > *{
    grid-area: stack;
    position: absolute;
}
#P2fondo1{
    box-shadow: 26px 29px 41px 14px rgba(0, 0, 0, 0.25);
    z-index: 1;
}
#P2fondo2{
    z-index: 5;
}
#P2fondo3{
    z-index: 2;
}
#P2hero1{
    right: -55px;
    bottom: -40px;
    z-index: 3;
}
#P2hero2{
    bottom: -37px;
    left: 34px;
    z-index: 3;
}
#P2hero3{
    left: 464px;
    top: -207px;
    z-index: 4;
}
.fondocomprar{
    display: block;
    flex-direction: row;
    height: 3px;
    width: 1080px;
    position: absolute;
    top: -20px;
    left: 100px;
    z-index: 10;
    aspect-ratio: 16/9;
}
.btn-comprarahora{
    position: relative;
    top: 2180px;
    width: 292px;
    height: 50px;
    border-radius: 111px;
    border: 8px solid var(--2982-ff, #2982FF);
    background: #FFE901;
    -webkit-text-stroke:2px;
    z-index: 90;
   


    /* Drop Shadow */
    box-shadow: 4px 5px 0px 0px #02187E;
    font-family: Lato;
    font-size: 22px;
    font-style: normal;
    font-weight: 1000;
    line-height: 94.5%; /* 18.9px */
    letter-spacing: 2.2px;
    text-align: center;
    color: #02187E;
}

.btn-comprarahora:hover{
    background-color: rgb(201, 167, 17); /* Un tono dorado más oscuro */
  box-shadow: 4px 8px 0px 0px #02187E; /* Ajuste de la sombra */
  transform: translateY(5px);
}

.fondoamigosdiv{
    top: 250px;
    display: flex;
    flex-direction: column;
}
.seccion7{
    padding-left: 50px;
    padding-top: 495px;
    height: 1055px;
    width: 100%;
}
#heroe2seccion7{
    position: relative;
    top: 40px;
}
.amigos{
    padding-top: 97px;
}
p{
    color: #000;
                                font-family: Lato;
                                font-size: 20px;
                                font-style: normal;
                                font-weight: 400px;
                                line-height: 94.5%;
}
h1{
    color: #000;
                                font-family: Lato;
                                font-size: 40px;
                                font-style: normal;
                                font-weight: 400px;
                                line-height: 94.5%; 
}
#tituloAmi{
    width: 100%;
}
.imagenesAmigos{
    display: block;
    width: 50%;
}
.imagenesAmigos >img{
    width: 100%;
    padding-left: 6px;
    padding-bottom: 90px;
}
.textoAmigos{
    width: 50%;
}
.texto {
    padding-inline: 38px;
    padding-bottom: 92px;
    transition: all 0.888s ease-in-out;
}
.texto2{
    padding-top: 36px;
}
.texto3{
    padding-top: 20px;
}
.texto4{
    padding-top: 36px;
}
.texto h1{
    padding-bottom: 30px;
}
#columnasAmigos{
    display: flex;
    flex-direction: row;
    padding-top: 71px;
}
.img4{
    padding-top: 112px;
}
.seccion8{
    padding-top: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.seccion8 > h2{
    color: #000;
text-align: center;
font-family: Lato;
font-size: 60px;
font-style: normal;
font-weight: 600;
line-height: 94.5%; /* 56.7px */
}
.seccion8  div> input{
    width: 562px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 50px 0px 0px 50px;
border-top: 9px solid #2982FF;
border-bottom: 9px solid #2982FF;
border-left: 9px solid #2982FF;
background: #FFF;

font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 94.5%; /* 18.9px */
letter-spacing: 2.2px;
text-align: left;
padding-left: 40px;
color: rgba(0, 0, 0, 0.39);

/* Drop Shadow */
box-shadow: 4px 5px 0px 0px #02187E;

}
.seccion8 div > button{
    width: 218px;
    height: 100px;
    border-radius: 0px 50px 50px 0px;
    border: 9px solid #2982FF;
    background: #FFE901;
    box-shadow: 4px 5px 0px 0px #02187E;
    box-shadow: 4px 5px 0px 0px #02187E;
    font-family: Lato;
    font-size: 22px;
    font-style: normal;
    font-weight: 1000;
    line-height: 94.5%; /* 18.9px */
    letter-spacing: 2.2px;
    text-align: center;
    color: #02187E;
    -webkit-text-stroke:2px;
}

.seccion8 > p{
    width: 578px;
height: 95px;
flex-shrink: 0;
color: #000;
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 94.5%; /* 18.9px */
}
.seccion8 span{
    width: 578px;
    height: 95px;
    flex-shrink: 0;
    color: #000;
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 94.5%;
text-decoration-line: underline;
}
#Tobacco {
    display: flex;
    width: 100%;
}
.footercontenido{
    margin-top: 800px;
}
.footercontenido >p{
    width: 820px;
    color: #FFF;
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 94.5%; /* 18.9px */
letter-spacing: 2.2px;
}

.entrada{
   transform: translate(0,0);
   opacity: 1;
}
#hambur{
    position: relative;
    top: 40px;
}
nav button{
    width: 200px;
    height: 50px;
    flex-shrink: 0;
    
    border-radius: 111px;
    border: 8px solid var(--2982-ff, #2982FF);
    background: #FFE901;
    
    /* Drop Shadow */
    box-shadow: 4px 5px 0px 0px #02187E;

    color: #02187E;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 94.5%; /* 18.9px */
    letter-spacing: 2.2px;
    -webkit-text-stroke:2px;
    text-align: center;
    align-self: center;
}

nav button:hover{
    background-color: #e8bf08; /* Un tono dorado más oscuro */
  box-shadow: 4px 8px 0px 0px #02187E; /* Ajuste de la sombra */
  transform: translateY(5px);
}
.noseve{
    opacity: 0;
}
.noesta{
    display: none;
}
.esta{
  animation: entra 0.4s ease-in;
}
#logonav{
    transition: all .9s ease-in-out;
}
.blur{
    filter: blur(3px);
}
.selected{
    animation: entra 0.5s ease-in;
    transform: scale(126%);
}

#fondo7 > *{
    grid-area: stack;
}

#bg7-1, #bg7-2, #bg7-3{
    z-index: 11;
}

#parche{
    position: relative;
    width: 100%;
    top: 528px;
    height: 74px;
    background: #8fbefc;
    z-index: 10;
}

.arribade8{
    z-index: 11 !important;
}
@keyframes entra{
    0% {
        opacity: 0.3;
    }
    100%{
        opacity: 1;
        transform: scale(126%);
    }
}

.Estatico{
    position: fixed;
    top: 170px;
}


#cardjuego1{
    position: relative;
    top: -11px;
    transform: perspective(300px) rotateY(25deg) rotate(-15deg) scale(.9);
    transition: all 0.888s ease-in-out;
    width: 80%;
    border-radius: 20px;
}
#cardjuego1:hover{
    scale: 115%;
    transform: rotate(0deg) !important;
    background-color:  pink ;
    border: solid 5px hsla(270, 46%, 25%, 1);
}

#cardjuego2{
    position: relative;
    top: -70px;;
    transform: perspective(300px) rotateY(25deg) rotate(-15deg) scale(.9);
    transition: all 0.888s ease-in-out;
    width: 80%;
    border-radius: 20px;
}
#cardjuego2:hover{
    scale: 115%;
    transform: rotate(0deg) !important;
    background-color:  pink ;
    border: solid 5px hsla(270, 46%, 25%, 1);
}
#cardjuego3{
    position: relative;
    top: -128px;;
    transform: perspective(300px) rotateY(25deg) rotate(-15deg) scale(.9);
    transition: all 0.888s ease-in-out;
    width: 80%;
    border-radius: 20px;
}
#cardjuego3:hover{
    scale: 115%;
    transform: rotate(0deg) !important;
    background-color:  pink ;
    border: solid 5px hsla(270, 46%, 25%, 1);
}
#sprite{
    position: relative;
    margin: auto;
    height: 79px;
    width: 35px;
    top: -887px;
    left: -351px;
    background-image: url(img/spidermanSprite.png);
    animation: mover 2s steps(7) infinite;
    transform: rotate(7deg);
}
@keyframes mover{
    0% { background-position:0 }

  100% { background-position:-289px }
}

#sprite:hover{
    position: relative;
    margin: auto;
    height: 70px;
    width: 71px;
    left: -354px;
    background-image: url(img/spidermanSprite2.png);
    animation: mover2 2s steps(2) infinite;
    transform: rotate(285deg);
}

@keyframes mover2{
    0% {background-position:0}

  100% { background-position:-411px }
}

.paginaInicial{
    position: fixed;
    background-color: white;
    width: 10000%;
    height: 1000%;
    z-index: 3000;
    scroll-behavior: none;
}

#carga{   
    width: 250px;
    position: relative;
    top: 130px;
    left: 500px;
}
#carga > img{
    width: 100%;
    animation: vuelta 0.5s ease-in-out infinite;
}
@keyframes vuelta{                    
    100%{
        transform: rotate(360deg);
    }
}
#barracarga{
    position: absolute;
    width: 600px;
    top: 358px;
    left: 336px;
    transform: rotate(180deg);
}
#blanco{
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 600px;
    height: 100%;
    top: 0;
    left: 0;
    animation: completado 5s ease infinite;

} 
@keyframes completado {
    100%{
        width: 0.1px;
    }
}

@media (min-width:1281px) {
        .contenedorcentral{
            left: 200px;
        }
        .contenedorcentral > *{
            margin-top: 9%;
        }
        #spider2{
            left: 495px;
        }
        #spider3{
            top: 133px;
            left: 900px;
        }
        #web1{
            left: -239px;
            top: 128px;
            width: 60%;
        }
        #juegoduende{
            top: 550px;
        }
        .btn-comprarahora{
            top : 2338px;
        }
        .footercontenido{
           margin-top: 1300px;
        }
        #sprite{
            left: -408px;
        }
        #sprite:hover{
            left: -408px;
        }

        #carga{
            top: 130px;
        left: 640px;
        }
        #barracarga{
            top: 358px;
            left: 466px;
        }
}
